body { font-family: sans-serif; margin: 0; background: #f9f9f9; padding: 20px; }
h1 { text-align: center; }
button { padding: 10px 20px; margin: 5px; border-radius: 8px; font-size: 16px; }
button.accueil { background-color: #4CAF50; color: white; }
button.danger { background-color: #f44336; color: white; }
button.aide { background-color: #a64ca6; color: white; }
footer { margin-top: 30px; text-align: center; font-size: 14px; color: #555; }